@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.page-main {
    padding: 30px;
    margin-top: calc(10vh + 30px);
}

.page-title-center {
    text-align: center;
}

.subtitle-center, .center-block {
    margin: 20px auto;
    display: block;
    text-align: center;
}

.block {
    height: 50px;
    display: block;
    background-color: transparent;
}

.button, .buttondark {
    margin: 10px;
    padding: 12px;
    font-size: 0.9em;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.button {
    border: 1px solid black;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
}

.buttondark {
    border: 1px solid white;
    color: white;
}

.buttondark:hover {
    background-color: white;
    color: black;
}

.textcenter {
    text-align: center;
}

.center {
    margin: auto;
    display: block;
}

.contactinfo {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-align: left;
}