.uni-desc {
    text-align: center;
}

.year-links {
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.year-link {
    margin: 10px;
    padding: 30px;
    background-color: #272727;
    border-radius: 10px;
    width: 40%;
    max-width: 400px;
    min-width: 150px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}

.year-link:hover, .modules-link:hover {
    transform: scale(1.03);
}

.year-link-number {
    font-size: 4em;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.year-link-title {
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.section-light {
    color: black;
    margin: 0px -30px;
    padding: 30px;
}

.section-dark {
    background-color: #272727;
    color: white;
    margin: 0px -30px;
    padding: 30px;
}

.hustings-logo {
    max-width: 300px;
    width: 90%;
    display: block;
    padding: 20px;
    margin: auto;

    // @media only screen and (max-width: 768px) {
    //     margin: auto;
    // }
}

.project-description {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: block;
}

/*
Module Results
*/

.year-title {
    text-align: center;
    font-size: 1.3em;
}

td {
    max-width: 200px;
    text-align: center;
}

th {
    text-align: center;
}

.modules-table {
    max-width: 1000px;
    margin: 0px auto 50px auto;
    text-align: center;
}

.grade {
    margin: auto;
    padding: 6px;
    background-color: rgb(30,30,30);
    color: white;
    width: 80px;
    text-align: center;
    border-radius: 20px;
}

.grade-first {
    background-color: rgb(151, 123, 0);
    background-image: linear-gradient(to right,rgb(151, 123, 0), rgb(181, 153, 30));
}

.grade-two-one {
    background-color: rgb(38, 156, 63);
    // background-image: linear-gradient(to right,rgb(114, 114, 114), rgb(144, 144, 144));
}

.grade-two-two {
    background-color: rgb(199, 102, 38);
}

.grade-pass {
    background-color: rgb(91, 67, 196);
}

.grade-fail {
    background-color: rgb(167, 48, 48);
}
